[submodule "zsh"]
	path = zsh
	url = git@github.com:hampgoodwin/zdotdir.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:hampgoodwin/nvim.git
[submodule "nixos-config"]
	path = nixos-config
	url = git@github.com:hampgoodwin/nixos-config.git
