[submodule "nvim"]
	path = nvim
	url = git@github.com:hampgoodwin/nvim.git
	branch = main
[submodule "nixos-config"]
	path = nixos-config
	url = git@github.com:hampgoodwin/nixos-config.git
	branch = main
[submodule "zdotdir"]
	path = zdotdir
	url = git@github.com:hampgoodwin/zdotdir.git
