// Niri configuration
// See https://github.com/YaLTeR/niri/wiki/Configuration:-Overview for a full reference

spawn-at-startup "noctalia-shell"

environment {
    TERMINAL "kitty"
}

input {
    keyboard {
        xkb {
            layout "us"
        }
    }
    touchpad {
        tap
        natural-scroll
    }
}

layout {
    gaps 16
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.33333; }

    focus-ring {
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
    }
}

binds {
    // Launchers
    Mod+K { spawn "kitty"; }
    Mod+D { spawn "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Mod+Space { spawn "noctalia-shell" "ipc" "call" "launcher" "toggle"; }
    Mod+Comma { spawn-sh "noctalia-shell ipc call settings toggle"; }
    Mod+C { spawn "noctalia-shell" "ipc" "call" "launcher" "clipboard"; }
    Mod+E { spawn "noctalia-shell" "ipc" "call" "launcher" "emoji"; }
    Mod+L { spawn "noctalia-shell" "ipc" "call" "lockScreen" "lock"; }
    Mod+M { spawn "noctalia-shell" "ipc" "call" "systemMonitor" "toggle"; }

    // Window controls
    Mod+Q { close-window; }
    Mod+F { fullscreen-window; }

    // Focus movement
    Mod+Left  { focus-column-left; }
    Mod+Right { focus-column-right; }
    Mod+Up    { focus-window-or-workspace-up; }
    Mod+Down  { focus-window-or-workspace-down; }

    // Window movement
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+Up    { move-window-up-or-to-workspace-up; }
    Mod+Shift+Down  { move-window-down-or-to-workspace-down; }

    // Workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }

    // System
    Mod+Shift+E { quit; }

    // Audio & Brightness
    XF86AudioRaiseVolume { spawn "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume { spawn "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioMute { spawn "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }

    // Screenshot
    Mod+S { screenshot; }
}
