configuration{
    combi-modes: [window,drun];
    modi: "combi,drun,run,window";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "kitty";
    combi-display-format: "{icon}{mode}{text}";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-combi: "❤️ Opn";
    display-drun: "📄 App";
    display-run: "🏃 Run";
    display-window: "✨ Win";
    display-Network: "🛜 Ntk";
    sidebar-mode: true;
}

@theme "catppuccin-mocha"

