@import "macchiato.css";
@import "pulseaudio-slider.css";

* {
  color: @text;
}

window#waybar {
  /* you can also GTK3 CSS functions! */
  background-color: shade(@base, 0.75);
  border: 2px solid alpha(@crust, 0.3);
}
